
.product-card {
    position: relative;
    cursor: pointer;
    border: 1px solid gray;
    font-size:larger;
    border-radius: 1rem;
    text-align: center;
    transition: transform .5s;
    width: 15rem;
    height: 20rem;
    margin: 1rem auto;
    animation: slideup 1s forwards;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 14px 28px -4px, 
                rgba(0, 0, 0, 0.3) 0px 9px 17px -7px;
}

.product-card-image {
    width: 14.8rem;
    height: 14.8rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.product-card-name {
    width: 100%;
    
}

.product-card-price {
    font-style: italic;
    font-weight: bold;
}

.product-card-quantity {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    transform-origin: left;
    transform: translate(-50%, -50%) rotate(-35deg);
    color: white;
    border-radius: 10px;
    padding: 0 5px 5px;
}

.out-of-stock {
    background-color: #900D09;
}

@keyframes slideup {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }